/* style the category links inside carousel*/
.CategoryLinks {
	color: #000000;
	font-size: 35px;
	padding: 5px;
	font-weight: bold;
	font-family: "Amatic SC", sans-serif;
	cursor: pointer;
	

}

.CategoryLinks:hover {
	color: #40E0D0;
}

/* Style headings and text*/

.CategoryHeading {
	font-family: "Amatic SC", sans-serif;
	font-size: 50px;
	font-weight: bold;
}

.PopularText {
	margin: auto;
	margin-bottom: 0%;
	font-family: "Amatic SC", sans-serif;
	font-size: 50px;
	font-weight: bold;
	text-decoration: underline;
}

/* Style the carousel items*/
.ContainerCarousel {
	background-color: #46beffff;
	border-radius: 5%;
	padding: 50px;
	
	
}

.ContainerCarouselThird {
	background-color: #4894bdff;
	border-radius: 5%;
	padding: 50px;
}

.ContainerCarouselFourth {
	padding: 50px;
	border-radius: 5%;
	background-color: #3490dc;

}

.CategoryContainer {
	margin: auto;
	margin-top: 4%;
}

/* Style the button inside the fourth item in the carousel*/
.BtnCarouselFourth {
	font-weight: bold;
	border: none;
	color: #000000;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	font-family: "Amatic SC", sans-serif;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50%;
	background-color: #e7e7e7;
}
.BtnCarouselFourth:hover{
	color: #40E0D0;
}
/*Style the category list*/
.CategoryText{
	font-weight: bold;
	font-size: 40px;
	font-family: "Amatic SC", sans-serif;
	padding: 20px;
}

.CategorySymbols:hover {
	color: #40E0D0;
	cursor: pointer;
}

@media screen and (max-width: 1176px) {
	
	.CategoryContainer{
		margin: auto;
	}
	
}


@media screen and (max-width: 990px) {
	
	.CategoryLinks {
		
		font-size: 25px;
		padding: 2px;
	}

	.PopularText {
		margin-bottom: 85%;
		padding: 20px;
		
	}
	

   }

   @media screen and (max-width: 550px) {
	
	.CategoryLinks {
		font-weight: bolder;
		font-size: 15px;
		padding: 0px;
	}

	.PopularText {
		margin-bottom: 85%;
		font-size: 30px;
		padding: 20px;
		
	}

	.BtnCarouselFourth {
		padding: 5px 20px;
		font-size: 15px;

	}
	


}