 
/* style the container*/
.CommentContainer {
	display: flex;
	margin-top: 2%;
	padding: 15px;
	align-items: center;
	justify-content: space-evenly;
}

/* style the image*/
.CommentAvatar {
	box-shadow: 0 10px 16px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%);
	max-width: 9%;
	border-radius: 50%;

}

.UserNameStyles {
	box-shadow: 0 10px 16px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%);
	font-family: "Amatic SC", sans-serif;
	font-weight: bold;
	font-size: 30px;
}

.ContentStyles {
	padding: 20px;
	width: 50%;
	margin-top: 5%;
	display: flex;
	border-radius: 10px;
	background-color: #f6f7f7ff;

}

@media screen and (max-width: 1000px) {
	
	.CommentAvatar {
		min-width: 20%;
	}

}