
-Beautified CSS-
 
/*style the container*/
.Container {
	padding: 30px;
	display: flex;
	flex-direction: column;
}

/* style the fields*/
textarea {
	resize: none;
	
}

input[type=text], [type=number], [type=textfield]{
	border-radius: 20px;
}

.CreateText {
	font-family: "Amatic SC", sans-serif;
	font-size: 50px;
	font-weight: bold;
}

.Hide {

	display: none;
}