.HeroImage {
    max-width: 100%;
    background-image: url('../assets/smiley.jpg');
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    background-position: center;
}
/*Intro text*/
.HeroText {
    color: black;
    position: absolute;
    bottom: 60%;
    width: 100%;
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 90%);
}
hr {
    border-top: 3px solid #acadad;
    opacity: 0.5;
    width: 70%;
}
.PresentationText {
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    background-color: #acadad;
    margin-bottom: 5%;
    margin-top: 5%;
    color: white;
}

@media screen and (max-width: 770px) {
 .HeroText {

    position: absolute;
    bottom: 60%;
    width: 100%;
    
 }
}