.HeroImage {
    max-width: 100%;
    background-image: url('../assets/smiley.jpg');
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    background-position: center;
}
/*Intro text*/
.HeroText {
    color: #e44242;
    position: relative;
    bottom: 60%;
    width: 100%;
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 90%);
}
hr {
    border-top: 3px solid #acadad;
    opacity: 0.5;
    width: 70%;
}
.PresentationText {
    padding: 20px;
    border-radius: 50px;
    font-family: 'Architects Daughter', cursive;
    background-color: #909191;
    margin-bottom: 5%;
    margin-top: 5%;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    color: white;
    animation-name: hero-zoom;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
/*style link in alert box*/
.LinkColorName {
    color: #000000;
}

.LinkColorName:hover {
    color: #ffffff;
}

@keyframes hero-zoom {

	/* intro text is animated here*/
	from {
		transform: scale(2);
	}

	to {
		transform: scale(1);
	}
}
@media screen and (max-width: 770px) {
 .HeroText {

    position: relative;
    bottom: 60%;
    width: 100%;
    
 }
}