.Container {
    font-family: "Amatic SC", sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    padding: 70px;
}
.TopText {
    font-family: "Amatic SC", sans-serif;
    font-size:50px;
    font-weight: bold;
    margin-bottom: 5%;
}
.ProfileImage {
    max-width: 15%;
    border-radius: 50%;
    
}