.ReviewContainer{
    padding: 40px;

}

.ReviewText {
    font-family: "Amatic SC", sans-serif;
    font-size:50px;
    font-weight: bold;
}

.ReviewImage {
    border-radius: 3%;
    max-height: 700px;
    max-width: 50%;
}

.ExtraFields {
    font-family: "Amatic SC", sans-serif;
    font-size:35px;
}

.HeadingFields {
    text-decoration: underline;

}

.ContentText {
   padding: 20px;
   border: 1px solid black;

}

.CreateDateText {
    font-weight: bold;
}

.LikeThumb{
    color: blue;
}

.TrashCan:hover {
    color: #40E0D0;
    cursor: pointer;
    
}

.TrashCan{
    font-size: 50px;
    padding: 20px;
}

.SearchBar {
    margin-top: 3%;
    display: flex;
}

.DisplayHide {
    display: none;
}
    

@media screen and (max-width: 770px) {
.ReviewImage{
    min-width: 100%;
    max-height: 330px;
}


}