.ReviewContainer{
padding: 40px;


}
.ReviewText {
    font-family: "Amatic SC", sans-serif;
    font-size:50px;
    font-weight: bold;
}
.ReviewImage {
    border-radius: 3%;
    max-width: 50%;
}
.ExtraFields {
    font-family: "Amatic SC", sans-serif;
    font-size:35px;
}
.HeadingFields {
    text-decoration: underline;

}
.ContentText {
    padding: 20px;
   border: 1px solid black;

}
.CreateDateText {
    font-weight: bold;
}
.LikeThumb{
    color: blue;
}