.ReviewContainer {
    padding: 40px;
}
.ReviewText {
    font-family: "Amatic SC", sans-serif;
    font-size:50px;
    font-weight: bold;
}
.ReviewImage {
    border-radius: 3%;
    max-height: 400px;
    max-width: 50%;
}
.ExtraFields {
    font-family: "Amatic SC", sans-serif;
    font-size:35px;
}
.HeadingFields {
    text-decoration: underline;
    font-weight: bold;
}
.ContentText {
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.CreateDateText {
    font-weight: bold;
}
.LikeThumb {
    cursor: pointer;
}
.LikeThumb:hover {
    color: #40E0D0;
}
.LikeCommentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 20px;
    margin: 20px;
}
.TrashCan:hover {
    color: #40E0D0;
    cursor: pointer;
}
.TrashCan{
    display: block;
    font-size: 50px;
    padding: 20px;
}
.SearchBar {
    margin-top: 3%;
    border-radius: 20px;
    display: flex;
}
.DisplayHide {
    display: none;
}
.SortBtn{
    margin-top: 2%;
    margin-bottom: 2%;
}
@media screen and (max-width: 770px) {
    .ReviewImage{
        min-width: 80%;
        margin: auto;
        max-height: 330px;
   }
}
